<div class="content-wrapper">
    <div class="container-fluid">
        <h2>
            <span jhiTranslate="freelancrApp.goal.home.title">Goals</span>
            <button class="btn btn-outline-primary float-right jh-create-entity create-goal-freelancr" [routerLink]="['/', { outlets: { popup: 'cms/goal-freelancr-new' } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="freelancrApp.goal.home.createLabel">
                Create new Goal
                </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'freelancrApp.goal.home.search' | translate }}">
                        <button class="input-group-append btn btn-info btn-raised" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-append btn btn-danger btn-raised" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="goals">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="title"><span jhiTranslate="freelancrApp.goal.title">Title</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="description"><span jhiTranslate="freelancrApp.goal.description">Description</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="projectTitle"><span jhiTranslate="freelancrApp.goal.project">Project</span> <span class="fa fa-sort"></span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let goal of goals ;trackBy: trackId">
                    <td><a [routerLink]="['../goal-freelancr', goal.id ]">{{goal.id}}</a></td>
                    <td>{{goal.title}}</td>
                    <td>{{goal.description}}</td>
                    <td>
                        <div *ngIf="goal.projectId">
                            <a [routerLink]="['../project-freelancr', goal.projectId  ]" >{{goal.projectTitle}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../goal-freelancr', goal.id ]"
                                    class="btn btn-info btn-sm btn-raised">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'cms/goal-freelancr/'+ goal.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm btn-raised">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'cms/goal-freelancr/'+ goal.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm btn-raised">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="goals && goals.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
