<div class="content-wrapper">
    <div class="container-fluid" *ngIf="language">
        <h2><span jhiTranslate="freelancrApp.language.detail.title">Language</span> {{language.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="freelancrApp.language.name">Name</span></dt>
            <dd>
                <span>{{language.name}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.language.user">User</span></dt>
            <dd>
                <span *ngFor="let user of language.users; let last = last">
                    {{user.login}}{{last ? '' : ', '}}
                </span>
            </dd>
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info btn-raised">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'cms/language-freelancr/'+ language.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-raised">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
