<div class="content-wrapper" jhiLoadScript script="'/content/vertical-timeline.js'">
    <div class="container-fluid">
        <!--User Profile Starts-->
        <!--Basic User Details Starts-->
        <section id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-with-cover">
                        <div class="card-img-top img-fluid bg-cover height-300"></div>
                        <div class="media profil-cover-details row">
                            <div class="col-5">
                                <div class="align-self-start halfway-fab pl-3 pt-2">
                                    <div class="text-left">
                                        <h3 class="card-title white">{{currentAccount.firstName+' '+currentAccount.lastName}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="align-self-center halfway-fab text-center">
                                    <a class="profile-image">
                                        <img [src]="currentAccount.imageUrl"
                                             class="rounded-circle img-border gradient-summer width-100"
                                             alt="Card image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 ">
                                    <ul class="profile-menu no-list-style">
                                        <li>
                                            <a (click)="showPage('About')"
                                               [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"
                                               jhiTranslate="profilepage.about">About</a>
                                        </li>
                                        <li>
                                            <a (click)="showPage('TimeLine')"
                                               [ngClass]="currentPage === 'TimeLine' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"
                                               jhiTranslate="profilepage.projects">Timeline</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-2 text-center">
                                    <span class="font-medium-2 text-uppercase">{{currentAccount.firstName+' '+currentAccount.lastName}}</span>
                                </div>
                                <div class="col-lg-5 col-md-5">
                                    <ul class="profile-menu no-list-style">
                                        <li>
                                            <a (click)="showPage('Friends')"
                                               [ngClass]="currentPage === 'Friends' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"
                                               jhiTranslate="profilepage.feedback">Feedback</a>
                                        </li>
                                        <li>
                                            <a (click)="showPage('Photos')"
                                               [ngClass]="currentPage === 'Photos' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"
                                               jhiTranslate="profilepage.applications">Projects</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Basic User Details Ends-->

        <!--About section starts-->
        <section id="about" *ngIf="currentPage === 'About'">
            <div class="row">
                <div class="col-12">
                    <div class="content-header" jhiTranslate="profilepage.about">About</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 jhiTranslate="profilepage.profileinfo.title">Personal Information</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <div class="mb-3">
                                    <span class="text-bold-500 primary" jhiTranslate="profilepage.profileinfo.aboutme">About Me:</span>
                                    <span *ngIf="freelancrAccount.description" class="display-block overflow-hidden">{{freelancrAccount.description}}</span>
                                    <span *ngIf="!freelancrAccount.description" class="display-block overflow-hidden"
                                          jhiTranslate="profilepage.errors.nodes"></span>

                                </div>
                                <hr>
                                <div class="row justify-content-md-center">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <ul class="no-list-style">
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.user"><a><i
                                                    class="icon-present font-small-3"></i></a></span>
                                                <span
                                                    class="display-block overflow-hidden">{{currentAccount.login}}</span>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.birthday"><a><i
                                                    class="icon-present font-small-3"></i></a></span>
                                                <span class="display-block overflow-hidden">{{getFormatedDate(freelancrAccount.birthDate)}}</span>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.address"><a><i
                                                    class="ft-map-pin font-small-3"></i></a></span>
                                                <span *ngIf="freelancrAccount.address"
                                                      class="display-block overflow-hidden">{{freelancrAccount.address}}</span>
                                                <span *ngIf="!freelancrAccount.address"
                                                      class="display-block overflow-hidden">-</span>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary" jhiTranslate="profilepage.resume">Resume</span>
                                                <span *ngIf="freelancrAccount.resumeLink"
                                                      class="display-block overflow-hidden"><a href="http://files.freelancr.me/{{freelancrAccount.resumeLink}}" jhiTranslate="profilepage.download">Download</a></span>
                                                <span *ngIf="!freelancrAccount.resumeLink"
                                                      class="display-block overflow-hidden">-</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <ul class="no-list-style">
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.git"><a><i
                                                    class="ft-user font-small-3"></i>GitHub:</a></span>
                                                <a [href]="getGithubLink()" class="display-block overflow-hidden">{{freelancrAccount.gitUser}}</a>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.email"><a><i
                                                    class="ft-mail font-small-3"></i> Email:</a></span>
                                                <span
                                                    class="display-block overflow-hidden">{{currentAccount.email}}</span>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.ranking"><a><i
                                                    class="ft-monitor font-small-3"></i> Ranking:</a></span>
                                                <span *ngIf="freelancrAccount.ranking"
                                                      class="display-block overflow-hidden">
                                                    <ngb-rating [readonly]="true" class="display-block" [rate]="rating" max="5">
                                                        <ng-template let-fill="fill">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                        </ng-template>
                                                    </ngb-rating>
                                                </span>
                                                <span *ngIf="!freelancrAccount.ranking"
                                                      class="display-block overflow-hidden"
                                                      jhiTranslate="profilepage.errors.norank"></span>

                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary" jhiTranslate="profilepage.link">Website link</span>
                                                <span *ngIf="freelancrAccount.personalLink"
                                                      class="display-block overflow-hidden"><a href="https://{{freelancrAccount.personalLink}}" jhiTranslate="profilepage.view">Website</a></span>
                                                <span *ngIf="!freelancrAccount.personalLink"
                                                      class="display-block overflow-hidden">-</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <ul class="no-list-style">
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.phonenumber"><a><i
                                                    class="ft-globe font-small-3"></i></a></span>
                                                <span *ngIf="freelancrAccount.phone"
                                                      class="display-block overflow-hidden">{{freelancrAccount.phone}}</span>
                                                <span *ngIf="!freelancrAccount.phone"
                                                      class="display-block overflow-hidden">-</span>
                                            </li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.weekly"><a><i
                                                    class="ft-briefcase font-small-3"></i> Weekly availability:</a></span>
                                                <span *ngIf="freelancrAccount.weeklyAvailability"
                                                      class="display-block overflow-hidden">{{freelancrAccount.weeklyAvailability}} <span
                                                    jhiTranslate="profilepage.profileinfo.hours"> hours per week</span></span>
                                                <span *ngIf="!freelancrAccount.weeklyAvailability"
                                                      class="display-block overflow-hidden">-</span></li>
                                            <li class="mb-2">
                                                <span class="text-bold-500 primary"
                                                      jhiTranslate="profilepage.profileinfo.joined"><a><i
                                                    class="ft-book font-small-3"></i> Joined:</a></span>
                                                <span class="display-block overflow-hidden">{{getFormatedDate(currentAccount.createdDate)}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About section ends-->
        <jhi-skill-search *ngIf="currentPage === 'About'"></jhi-skill-search>

        <!--User Timeline section starts-->
        <section *ngIf="currentPage === 'TimeLine'">
            <div  *ngIf="projects?.length === 0 && projectAdmin?.length === 0" class="row justify-content-md-center">
                <div class="col-12">
                    <div class="content-header text-center" jhiTranslate="projectProfile.notimeline">This user hasn't participated in any project</div>
                </div>
            </div>
            <div *ngIf="projectPosition?.length > 0">
                <div *ngIf="projects?.length > 0">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header" jhiTranslate="profilepage.participated">About</div>
                        </div>
                    </div>
                    <div *ngFor="let project of projects" class="display-inline-block col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block text-center">
                                    <h4 class="mt-3 card-title">{{project.title}}</h4>
                                    <h6>{{getPositionOfProject(project.id).title}}</h6>
                                    <div style="display: inline-block" *ngFor="let skill of getPositionOfProject(project.id).skills">
                                        <span style="margin: 4px; color: white;"
                                              class="badge badge-primary">{{skill.name}}</span>
                                    </div>
                                    <div class="row grey justify-content-md-center">
                                        <div *ngIf="project.endDate" class="col-4">
                                            <span jhiTranslate="profilepage.finished">End date: </span><span class="display-block primary">{{project.endDate}}</span>
                                        </div>
                                        <div *ngIf="!project.endDate" class="col-4">
                                            <span jhiTranslate="profilepage.start">Start date: </span><span class="display-block danger">{{project.deadline}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span class="display-block" jhiTranslate="apply.status">Status: </span>
                                            <span class="info darken-2"
                                                  jhiTranslate="{{'freelancrApp.ProjectStatus.' + project.status}}"></span>
                                        </div>
                                    </div>
                                    <hr class="grey">
                                    <button
                                        class="btn btn-raised btn-primary"
                                        routerLink="/project-info/{{project.id}}"
                                        jhiTranslate="projectProfile.viewbtn">Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="projectAdmin?.length > 0">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header" jhiTranslate="profilepage.asadmin">About</div>
                        </div>
                    </div>
                    <div *ngFor="let project of projectAdmin" class="display-inline-block col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block text-center">
                                    <h4 class="mt-3 card-title">{{project.title}}</h4>
                                    <p>{{project.description}}</p>
                                    <div class="row grey justify-content-md-center">
                                        <div *ngIf="project.endDate" class="col-4">
                                            <span jhiTranslate="profilepage.finished">End date: </span><span class="display-block primary">{{project.endDate}}</span>
                                        </div>
                                        <div *ngIf="!project.endDate" class="col-4">
                                            <span jhiTranslate="profilepage.deadline">Start date: </span><span class="display-block danger">{{project.deadline}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span class="display-block" jhiTranslate="apply.status">Status: </span>
                                            <span class="info darken-2"
                                                  jhiTranslate="{{'freelancrApp.ProjectStatus.' + project.status}}"></span>
                                        </div>
                                    </div>
                                    <hr class="grey">
                                    <button
                                        class="btn btn-raised btn-primary"
                                        routerLink="/project-info/{{project.id}}"
                                        jhiTranslate="projectProfile.viewbtn">Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--User Timeline section ends-->

        <!--User's friend section starts-->
        <section id="friends" *ngIf="currentPage === 'Friends'">
            <div *ngIf="feedbacks?.length===0">
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <div class="content-header text-center" jhiTranslate="projectProfile.nofeed">This user hasn't participated in any project</div>
                    </div>
                </div>
            </div>
            <div *ngIf="feedbacks.length>0">
                <jhi-user-feedback [feedbacks]="feedbacks"></jhi-user-feedback>
            </div>
        </section>
        <section *ngIf="currentPage === 'Photos' && !(applications?.length > 0)">
            <div class="row">
                <div class="col-12">
                    <div class="content-header" jhiTranslate="profilepage.noapps">Projects</div>
                </div>
            </div>
        </section>
        <section *ngIf="currentPage === 'Photos' && applications?.length > 0">
            <div class="row">
                <div class="col-12">
                    <div class="content-header" jhiTranslate="apply.title">Skills</div>
                </div>
            </div>
            <div class="row">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header px-4">
                        <h4 class="modal-title"
                            jhiTranslate="apply.canceltitle">Cancel Application</h4>
                        <button type="button" class="close" aria-label="Close"
                                (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <form role="form" class="form form-horizontal">
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <span jhiTranslate="apply.cancelconf"></span>
                                    <span>{{delApplication.positionTitle}}</span> ?
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer px-4">
                        <button jhiTranslate="projecttinfo.btncancel"
                                type="button" class="btn btn-outline-dark"
                                (click)="c('Close click')">Cancel
                        </button>
                        <button jhiTranslate="apply.btnconfrim"
                                type="button" class="btn btn-raised btn-warning"
                                (click)="c('Close click'); deleteApp(delApplication)">
                            Confirm
                        </button>
                    </div>
                </ng-template>

                <div *ngFor="let app of applications" class="col-12 col-md-6 col-lg-4">
                    <div class="card">

                        <div class="card-body">
                            <div class="card-block text-center">
                                <h4 class="mt-3 card-title">{{app.positionTitle}}</h4>
                                <a routerLink="/project-info/{{getProjectOfPosition(app.positionId)}}">View project</a>
                                <div *ngFor="let msg of app.messages" class="category text-gray font-small-4">
                                    <div [innerHTML]="msg.message">

                                    </div>
                                </div>
                                <div class="row grey justify-content-md-center">
                                    <div class="col-4">
                                        <span class="display-block" jhiTranslate="apply.bid2">Offer: </span><span class="success">${{app.bid}}</span>
                                    </div>
                                     <div class="col-4">
                                        <span class="display-block" jhiTranslate="apply.status">Status: </span><span
                                        class="info" jhiTranslate="{{'freelancrApp.ApplicationStatus.' + app.status}}"></span>
                                    </div>
                                </div>
                                <hr class="grey">
                                <a class="btn btn-lg btn-raised btn-danger" (click)="open(content, app)"
                                   jhiTranslate="projecttinfo.btncancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section *ngIf="currentPage === 'Photos' && offers?.length > 0">
            <div class="row">
                <div class="col-12">
                    <div class="content-header" jhiTranslate="profilepage.offertitle">Applications</div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let app of offers" class="col-12 col-md-6 col-lg-4">
                    <div class="card">

                        <div class="card-body">
                            <div class="card-block text-center">
                                <h4 class="mt-3 card-title">{{app.positionTitle}}</h4>
                                <p *ngFor="let msg of app.messages" class="category text-gray font-small-4">
                                    {{msg.message}}</p>
                                <div class="row grey justify-content-md-center">
                                    <div class="col-4">
                                        <span jhiTranslate="profilepage.offered">Offer: </span><span class="display-block success" >${{app.bid}}</span>
                                    </div>
                                    <div class="col-4">
                                        <span class="display-block" jhiTranslate="profilepage.viewproject">Status: </span><a class="info"
                                        routerLink="/project-info/{{getProjectOfPosition(app.positionId)}}" jhiTranslate="profilepage.project"></a>
                                    </div>
                                </div>
                                <hr class="grey">
                                <a class="btn btn-lg btn-raised btn-danger"
                                   jhiTranslate="projecttinfo.decline">Decline</a>
                                <a class="btn btn-lg btn-raised btn-success"
                                   jhiTranslate="projecttinfo.accept">Accept</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
