<div class="content-wrapper">
    <div class="container-fluid" *ngIf="skillType">
        <h2><span jhiTranslate="freelancrApp.skillType.detail.title">Skill Type</span> {{skillType.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="freelancrApp.skillType.name">Name</span></dt>
            <dd>
                <span>{{skillType.name}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.skillType.logo">Logo</span></dt>
            <dd>
                <span>{{skillType.logo}}</span>
            </dd>
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info btn-raised">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'cms/skill-type-freelancr/'+ skillType.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-raised">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
