<div class="content-wrapper">
    <div class="container-fluid" *ngIf="card">
        <h2><span jhiTranslate="freelancrApp.card.detail.title">Card</span> {{card.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="freelancrApp.card.title">Title</span></dt>
            <dd>
                <span>{{card.title}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.description">Description</span></dt>
            <dd>
                <span>{{card.description}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.status">Status</span></dt>
            <dd>
                <span jhiTranslate="{{'freelancrApp.CardStatus.' + card.status}}">{{card.status}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.deadline">Deadline</span></dt>
            <dd>
                <span>{{card.deadline | date:'mediumDate'}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.budget">Budget</span></dt>
            <dd>
                <span>{{card.budget}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.user">User</span></dt>
            <dd>
                {{card.userLogin}}
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.project">Project</span></dt>
            <dd>
                <div *ngIf="card.projectId">
                    <a [routerLink]="['/project-freelancr', card.projectId]">{{card.projectTitle}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="freelancrApp.card.position">Position</span></dt>
            <dd>
                <div *ngIf="card.positionId">
                    <a [routerLink]="['/position-freelancr', card.positionId]">{{card.positionId}}</a>
                </div>
            </dd>
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info btn-raised">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'cms/card-freelancr/'+ card.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-raised">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
