<div class="content-wrapper">
    <div class="container-fluid" *ngIf="skill">
        <h2><span jhiTranslate="freelancrApp.skill.detail.title">Skill</span> {{skill.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="freelancrApp.skill.level">Level</span></dt>
            <dd>
                <span jhiTranslate="{{'freelancrApp.SkillLevel.' + skill.level}}">{{skill.level}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.skill.type">Type</span></dt>
            <dd>
                <div *ngIf="skill.typeId">
                    <a [routerLink]="['/skill-type-freelancr', skill.typeId]">{{skill.typeName}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="freelancrApp.skill.user">User</span></dt>
            <dd>
                <span *ngFor="let user of skill.users; let last = last">
                    {{user.login}}{{last ? '' : ', '}}
                </span>
            </dd>
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info btn-raised">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'cms/skill-freelancr/'+ skill.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-raised">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
