<div>
    <h2>
        <span jhiTranslate="freelancrApp.userFreelancr.home.title">User Freelancrs</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-freelancr-freelancr" [routerLink]="['/', { outlets: { popup: ['user-freelancr-freelancr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="freelancrApp.userFreelancr.home.createLabel">
            Create new User Freelancr
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'freelancrApp.userFreelancr.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userFreelancrs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="freelancrApp.userFreelancr.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="freelancrApp.userFreelancr.phone">Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="freelancrApp.userFreelancr.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthDate"><span jhiTranslate="freelancrApp.userFreelancr.birthDate">Birth Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weeklyAvailability"><span jhiTranslate="freelancrApp.userFreelancr.weeklyAvailability">Weekly Availability</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ranking"><span jhiTranslate="freelancrApp.userFreelancr.ranking">Ranking</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="freelancrApp.userFreelancr.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="linkedInUser"><span jhiTranslate="freelancrApp.userFreelancr.linkedInUser">Linked In User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gitUser"><span jhiTranslate="freelancrApp.userFreelancr.gitUser">Git User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paypalAccount"><span jhiTranslate="freelancrApp.userFreelancr.paypalAccount">Paypal Account</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personalLink"><span jhiTranslate="freelancrApp.userFreelancr.personalLink">Personal Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resumeLink"><span jhiTranslate="freelancrApp.userFreelancr.resumeLink">Resume Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="freelancrApp.userFreelancr.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userFreelancr of userFreelancrs ;trackBy: trackId">
                <td><a [routerLink]="['../user-freelancr-freelancr', userFreelancr.id ]">{{userFreelancr.id}}</a></td>
                <td>{{userFreelancr.description}}</td>
                <td>{{userFreelancr.phone}}</td>
                <td>{{userFreelancr.address}}</td>
                <td>{{userFreelancr.birthDate | date:'mediumDate'}}</td>
                <td>{{userFreelancr.weeklyAvailability}}</td>
                <td>{{userFreelancr.ranking}}</td>
                <td jhiTranslate="{{'freelancrApp.UserStatus.' + userFreelancr.status}}">{{userFreelancr.status}}</td>
                <td>{{userFreelancr.linkedInUser}}</td>
                <td>{{userFreelancr.gitUser}}</td>
                <td>{{userFreelancr.paypalAccount}}</td>
                <td>{{userFreelancr.personalLink}}</td>
                <td>{{userFreelancr.resumeLink}}</td>
                <td>
                    {{userFreelancr.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-freelancr-freelancr', userFreelancr.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-freelancr-freelancr/'+ userFreelancr.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-freelancr-freelancr/'+ userFreelancr.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userFreelancrs && userFreelancrs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
