<div class="row" jhiLoadScript [script]="'/content/comment.js'">
    <div class="col-sm-9" style="margin: auto;">
        <div class="card">
            <div class="mb-3 gradient-indigo-dark-blue white text-center p-2 card-header">
                <h4 style="text-align: center; margin-bottom: 0px" jhiTranslate="projecttinfo.comments">
                    Comments</h4>
            </div>
            <div class="card-body" >
                <div class="card-block px-3">
                    <form class="form" #commentValidate="ngForm" (ngSubmit)="sendComment()">
                        <div class="form-group">
                            <label for="commentProject">Comment</label>
                            <textarea id="commentProject" rows="5"
                                      class="form-control border-primary col-sm-12"
                                      name="comment"
                                      [(ngModel)]="newComment.comment"
                                      #commentProject="ngModel"
                                      required minlength="4" maxlength="250">
                                        </textarea>
                            <div *ngIf="commentProject.dirty && commentProject.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="commentProject.errors.required"
                                       jhiTranslate="apply.msgreq">
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="commentProject.errors.minlength"
                                       jhiTranslate="apply.short">
                                    Min length
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="commentProject.errors.maxlength"
                                       jhiTranslate="apply.long">
                                    Max length
                                </small>
                            </div>

                            <div class="form-actions right">
                                <button type="submit" class="btn btn btn-outline-primary"
                                        [disabled]="commentValidate.form.invalid">
                                    Comment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 comment-content">
                            <div class="media-list media-bordered ">
                                <div class="media">
                                    <div *ngIf="comments.length>0">
                                        <div class="media-body" *ngFor="let comment of comments">
                                            <h4 class="media-heading">{{comment.userLogin}}</h4>
                                            <p>{{comment.comment}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="comments.length==0">
                                        <h4 *ngIf="project.userId === currentUserLogged.id"> Your project doesn't have any comments</h4>
                                        <h4 *ngIf="project.userId !== currentUserLogged.id"> This project doesn't have any comments</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
