.badge-junior {
    color: #fff;
    background-color: #51bcda;
}

.badge-mid_level {
    color: #fff;
    background-color: #6bd098;
}

.badge-senior {
    color: #fff;
    background-color: #fbc658;
}

.badge-sme {
    color: #fff;
    background-color: #f5593d;
}

.badge-no_experience {
    color: #fff;
    background-color: #868e96;
}
