<div class="content-wrapper">
    <div class="container-fluid" *ngIf="notification">
        <h2><span jhiTranslate="freelancrApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="freelancrApp.notification.timestamp">Timestamp</span></dt>
            <dd>
                <span>{{notification.timestamp | date:'medium'}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.notification.message">Message</span></dt>
            <dd>
                <span>{{notification.message}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.notification.status">Status</span></dt>
            <dd>
                <span jhiTranslate="{{'freelancrApp.MessageStatus.' + notification.status}}">{{notification.status}}</span>
            </dd>
            <dt><span jhiTranslate="freelancrApp.notification.user">User</span></dt>
            <dd>
                {{notification.userLogin}}
            </dd>
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info btn-raised">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'cms/notification-freelancr/'+ notification.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-raised">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
